@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "daisyui" {
  themes: all;
}

@plugin "daisyui/theme" {
  name: "corporatejuggly";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.001 106.423);
  --color-base-200: oklch(97% 0.001 106.424);
  --color-base-300: oklch(92% 0.003 48.717);
  --color-base-content: oklch(21% 0.006 56.043);
  --color-primary: oklch(44% 0.119 151.328);
  --color-primary-content: oklch(100% 0 0);
  --color-secondary: oklch(95% 0.038 75.164);
  --color-secondary-content: oklch(14% 0.005 285.823);
  --color-accent: oklch(44% 0.119 151.328);
  --color-accent-content: oklch(96% 0.018 272.314);
  --color-neutral: oklch(14% 0.004 49.25);
  --color-neutral-content: oklch(98% 0.001 106.423);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(60% 0.118 184.704);
  --color-success-content: oklch(98% 0.014 180.72);
  --color-warning: oklch(66% 0.179 58.318);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}


html {
  scroll-behavior: smooth;
}